<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/site.css">
    {{#if title}}
        <title>{{title}}</title>
    {{/if}}
</head>
<body>
<main>
    {{{body}}}
</main>

</body>
</html>