
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <title>Employee</title>
</head>
<body>
    <header class="head">
                    <nav>
                      <ul class="empheadlist">
                        <li class="sinlist"><a href="/employee/employeehours" target="_blank">Update Working Hours</a></li>
                        <li class="sinlist"><a href="/employee/employeedetails" target="_blank">get details</a></li>
                        <li class="sinlist"><a href="/employee/employeeconman" target="_blank">Contact Manager</a></li>
                      </ul>
                    </nav>
            </header>
    <h1>Employee</h1>
    
</body>
