  
  <main>
      <div id="main">
      <h1 class="headerTag">Employee hours</h1>
      <p>This website is used to display the details regarding the number inserted by user. </p>
      <form method="POST" action="/employee/emphours"> 
        <label for="ID" id="Number">Identification number: </label>
        <input type= "id" id="id" name="id" placeholder="id" class="id" required="required"/>   
        <label for="Hours">Working Hours: </label>
        <input type= "number" id="Hours" name="Workinghours" placeholder="hours" class="number" required="required"/>   
        <label for="Hours">Manager</label>
        <select  name="names" class="text" placeholder="names" id="managerhours" required="required">
          <option >Manager 1</option>
          <option>Manager 2</option>
          <option>Manager 3</option>
        </select>        
        <button id="button" type="submit" class="submit">Submit</button>
   
    </form>
    <div id="main">
        <ol id="attempts"></ol>
        <label  class="error" id="errortext" ></label>   
    </div>
     <footer class="Footer-Section">
        <p>
            <span class="Name-Details">Name: DHARIKA KAPIL</span><br>
            <span class="Student-Details">CWID: 10453441</span><br>
            <span class="Class-Details">CS-546</span><br>          
        </p>
    </footer>
    
     <script src="../layouts/emphours.js"></script>
     </main>





