
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/assets/semantic/semantic.min.css"/>

		<script src="/assets/semantic/semantic.min.js"></script>   
     <title>Employee</title>
</head>
<body>

  <div class="ui four column grid">
  <div class="row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
  <div class="column"></div>
  <div class="column"></div>
  <div class="column"></div>
  <div class="column"></div>
</div>

<h2 class="ui center aligned icon header" >
  <i class="circular users icon"></i>
  Hello Employee!
</h2>

  <div class="ui five column grid">
  <div class="row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>

  </div>
  <div class="column"></div>
  <div class="column"></div>
  <div class="column"></div>
  <div class="column"></div>
    <div class="column"></div>
  <div class="column"></div>
  <div class="column"></div>
  <div class="column"></div>

</div>

     
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="middle aligned column">
      <a href="/employee/employeehours">
      <div class="ui big button" >
        <i class="clock outline icon" ></i>
        Add Hours
      </div>
      </a>
    </div>
    </div>
    <div class="middle aligned column">
      <a href="/employee/employeedetails">
      <div class="ui big button" >
        <i class="question circle outline icon" ></i>
        Get Details
      </div></a>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>

</body>
