<body>

<div id="main">
      <h1 class="headerTag">Employee hours</h1>
      <p>This website is used to display the details regarding the number inserted by user. </p>
         <script src="/js/hours.js">  </script>  
<form id="updatehoursform"  action="/employee/emphours" method="POST">
    <div>
        <label for="UsernameEmp">Employee Username </label>
        <input type= "text" id="UsernameEmp" name="UsernameEmp"  class="text" required="required"/>
    </div>
    <div>
        <label for="Startdate">Startdate </label>
        <input type= "date" id="Startdate" name="startdate" placeholder="date" class="text" required="required"/>
    </div>
    <div>
        <label for="Enddate">Enddate </label>
        <input type= "date" id="Enddate" name="enddate" placeholder="date" class="text" required="required"/>
    </div>
    <div>
        <label for="Hours">Working Hours </label>
        <input type= "number" id="Hours" name="Workinghours" placeholder="hours" class="number" required="required"/>
    </div>
        <button id="hours_button" type="submit" class="submit">Submit</button>
   
    </form>
   
</body>