<body>
<form id="updatehoursform">
    <div>
        <label for="UsernameEmp">Employee Id </label>
        <input type= "text" id="UsernameEmp" name="UsernameEmp"  class="text" required="required"/>
    </div>
    <div>
        <label for="Startdate">Startdate </label>
        <input type= "date" id="Startdate" name="date" placeholder="date" class="text" required="required"/>
    </div>
    <div>
        <label for="Enddate">Enddate </label>
        <input type= "date" id="Enddate" name="date" placeholder="date" class="text" required="required"/>
    </div>
    <div>
        <label for="Hours">Working Hours </label>
        <input type= "number" min="0" id="Hours" name="Workinghours" placeholder="hours" class="number" required="required" oninput="validity.valid||(value='');"/>
    </div>
        <button id="hours_button" type="submit" class="submit">Submit</button>
   
    </form>
    <script src="/js/hours.js"></script>

</body>