<head>
<title> Login Page </title>
<link rel="stylesheet" href="/assets/semantic/semantic.min.css"/>
		  <script src="/assets/semantic/semantic.min.js"></script>

</head>

<body>

<div id="main" >
      <h1 class="headerTag">Employee hours</h1>
      <p>This website is used to display the details regarding the number inserted by user. </p>
           
   <form id="updatehoursform" class="ui form">
    <div class="field">
        <label for="UsernameEmp">Employee Username </label>
        <input type= "text" id="UsernameEmp" name="UsernameEmp"  class="text" required="required"/>
    </div>
    <div class="field">
        <label for="Startdate">Startdate </label>
        <input type= "date" id="Startdate" name="startdate"  class="text" required="required"/>
    </div>
    <div class="field">
        <label for="Enddate">Enddate </label>
        <input type= "date" id="Enddate" name="enddate" class="text" required="required"/>
    </div>
    <div class="field">
        <label for="Hours">Working Hours </label>
        <input type= "number" min="0" id="Hours" name="Workinghours" placeholder="hours" class="number" required="required" oninput="validity.valid||(value='');"/>
    </div>
    <div class="ui one column stackable center aligned page grid">
    <div class="column twelve wide">
        <button id="hours_button" type="submit" class="ui button">Submit</button>
    </div>
    </div>
     
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
  
    <script src="/js/hours.js" ></script>
    </form><footer id="footer" style="font-family: Georgia,Serif;
		padding: 6em 0;
		background: black;
		color: #fff;
		text-align: center;">
		<p>&#169 2019 Payday : Focus on what matters,leave the rest on us!</p>				
</footer>


</body>