
<html>
	<head>
		<title>PayDay</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css"/>
		<link rel="stylesheet" href="/assets/semantic/semantic.min.css"/>
		<script src="/assets/semantic/semantic.min.js"></script>

	</head>
	<body>

		<!-- Header -->
			<header id="header" >
				<div class="inner">
					<a href="/" class="logo"><strong>PayDay</strong></a><br>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/login">Manager</a>
						<a href="/employee">Employee</a>
                        <a href="/newemployee">New Employee</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
							
						<h1>Welcome to PayDay</h1>
						
                        <h3>Focus on what matters,leave the rest on us</h3>
					</header>


					<div class="flex ">

						<div>
							<span class="icon fa-briefcase"></span>
							<a href="/login"><h3>Manager</h3></a>
							<p>Login for registered Manager</p>
						</div>

						<div>
							<span class="icon fa-user"></span>
							<a href="/employee"><h3>Employee</h3></a>
							<p>Update working hours and check transactions</p>
						</div>

						<div>
							<span class="icon fa-user-plus"></span>
							<a href="/newemployee"><h3>New Employee</h3></a>
							<p>Sign up if you are a new Employee</p>
						</div>

					</div>

					</div>
			</section>


		<!-- Three -->
		<!-- Footer -->
		<footer id="footer" style="font-family: Georgia,Serif;
		padding: 6em 0;
		background: #6cc091;
		color: #fff;
		text-align: center;">
		<p>&#169 2019 Payday : Focus on what matters,leave the rest on us!</p>				
</footer>

		
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
