{{#if error}}
    <h3>{{error}}</h3>
{{/if}}
<form action="/login" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <br>
    <input type="submit" id="login"  value="Login" name="login">
</form>