
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manager Details</title>
</head>
<body>
    <section>
        <main>
             <h1>Manager</h1>  
             <ul>
           <li>
        
              {{#each searchDetail}}  
               <a href="/manager/{{user_login_id}}">{{firstName}}{{lastName}}</a>
             {{/each}}
          
          </li>
        
      </ul>
      
        </main>
    </section>
       
</body>
