
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manager Details</title>
</head>
<body>
    <section>
        <main>
             <h1>Manager</h1>  
             <ul>
           <li>
        
              {{#each searchDetail}}  
               <a href="/manager/users/{{user_login_id}}">{{firstName}}{{lastName}}</a>
             {{/each}}
          
          </li>
        
      </ul>
      
        </main>
    </section>
    
<footer id="footer" style="font-family: Georgia,Serif;
		padding: 6em 0;
		background: black;
		color: #fff;
		text-align: center;">
		<p>&#169 2019 Payday : Focus on what matters,leave the rest on us!</p>				
</footer>
       
</body>
