<head>
    <meta charset="utf-8">
    <title>Pending List</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
{{#each searchDetail}}
<ul>
    <li>    {{this}}
</li>
</ul>
{{/each}}

<a href="javascript:history.back()">Go Back</a>
